{% extends 'layout.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-med-9">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href=''>Budget</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
            </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="#"class='btn btn-group-success'>Add Expense</a>
        </div>
    </div>
</div>
<!--{% include 'partials/'%}-->
{% endblock content %}


 <!-- Add this link: [<a class="btn btn-info btn-lg" href="/" role="button">Sample page</a>] to the button to link pages through the button -->

