

{% extends 'layout_blogo.html' %}


{% block content %}

<title>Transitions Blog{% block title%} {% endblock %} </title>

 
{% load static %}
    <!-- Bootstrap core CSS -->
<link href="{% static "css/blogo.css" %}" rel="stylesheet"> 
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock content  %}
